{% extends 'home/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}

    <div class="container my-4">
    {% if centres %}
        <div class="list-group">
            {% for centre in centres %}
            <a href="{% url 'home:events' pk=centre.pk %}" class="list-group-item list-group-item-action">
                {% if centre.centre_img %}
                    <img src="{{centre.centre_img.url}}" class="image img-responsive img-thumbnail" alt="..." width="100px" height="100px">
                {% endif %}
                <span><b>{{centre.centre_name}}, {{centre.centre_location}}</b></span>
            </a>
            {% endfor %}
        </div>
    {% else %}
    <h3>No Centres Found &nbsp;&nbsp;<img src="{% static 'home/img/disappointed.png' %}"></h3>
    {% endif %}
    </div>
    
    
{% endblock body %}